<div class="container">
    <div class="row">
        <div class="col-5 mx-auto">
            <form #formDangKy="ngForm" (ngSubmit)="DangKy(formDangKy.value)">
                <h4 class="display-4">Dang ky</h4>
                <div class="form-group">
                    <label for="">Tai khoan</label>
                    <input type="text" required class="form-control" #taikhoan="ngModel" name="TaiKhoan" ngModel>
                    <div *ngIf="taikhoan.errors && (taikhoan.touched || taikhoan.dirty)">
                        <div class="text-danger" *ngIf="taikhoan.errors.required">
                            Tai khoan khong duoc de trong
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Mat Khau</label>
                    <input type="text" class="form-control" required #matkhau="ngModel" minlength="6" maxlength="12" name="MatKhau" ngModel>
                    <div *ngIf="matkhau.errors && (matkhau.touched || matkhau.dirty)">
                        <!-- kiem tr rong -->
                        <div class="text-danger" *ngIf="matkhau.errors.required">
                            Mat khau khong duoc de trong
                        </div>
                        <!-- kiem tra length -->
                        <div class="text-danger" *ngIf="matkhau.errors.minlength || matkhau.errors.maxlength">
                            mat khau phai tu 6 - 12 ki tu
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Ho Ten</label>
                    <input type="text" [pattern]='"^[a-zA-Z_ÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶ" +
                    "ẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợ" +
                    "ụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\\s]+$"' #hoten="ngModel" required class="form-control" name="HoTen" ngModel>
                    <div *ngIf="hoten.errors && (hoten.touched || hoten.dirty)">
                        <div class="text-danger" *ngIf="hoten.errors.required">
                            Ho Ten khong duoc de trong
                        </div>
                        <div class="text-danger" *ngIf="hoten.errors.pattern">
                            Ho Ten la chu
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" required #email="ngModel" class="form-control" name="Email" ngModel>
                    <div *ngIf="email.errors && (email.touched || email.dirty)">
                        <div class="text-danger" *ngIf="email.errors.required">
                            Email khong duoc bo trong
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">SDT</label>
                    <input type="text" class="form-control" name="SoDT" ngModel>
                </div>
                <div class="form-group">
                    <label for="">Loai nguoi dung</label>
                    <br>
                    <input class="mr-3" type="radio" ngModel  value="KhachHang" name="MaLoaiNguoiDung">Customer
                    <br>
                    <input class="mr-3" type="radio" ngModel value="Quantri" name="MaLoaiNguoiDung">Admin
                </div>
                <div class="form-group">
                    <button class="btn btn-success" [disabled]="formDangKy.invalid" type="submit">Dang Ky</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container text-white">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tai Khoan</th>
                <th>Mat Khau</th>
                <th>Email</th>
                <th>Ho Ten</th>
                <th>So DT</th>
                <th>Loai nguoi dung</th>
                <th>Thao Tac</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let nguoidung of mangNguoiDungDangKy">
                <td>{{ nguoidung.TaiKhoan }}</td>
                <td>{{ nguoidung.MatKhau }}</td>
                <td>{{ nguoidung.Email }}</td>
                <td>{{ nguoidung.HoTen }}</td>
                <td>{{ nguoidung.SoDT }}</td>
                <td>{{ nguoidung.MaLoaiNguoiDung }}</td>
                <td>
                    <button #btnCapNhat
                            class="btn btn-success" 
                            [attr.data-taikhoan]="nguoidung.TaiKhoan"
                            [attr.data-matkhau]="nguoidung.MatKhau" 
                            [attr.data-hoten]="nguoidung.HoTen" 
                            [attr.data-email]="nguoidung.Email" 
                            [attr.data-soDT]="nguoidung.SoDT"
                            [attr.data-maloainguoidung]="nguoidung.MaLoaiNguoiDung"
                            (click)="CapNhat(btnCapNhat)">
                            Cap Nhat
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>