.new__item {
    overflow: hidden;
    display: block;
    position: relative;
    height: 180px;
    img {
        height: 100%;
        width: 100%;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0 15px;
        background-color: rgba(225, 225, 225, 0.2);
    }
    .effect-ruby {
        color: white;
        figcaption {
            top: 40px;
            left: 0;
            position: absolute;
            width: 100%;
            h2 {
                font-size: 20px;
                margin: 0;
                text-align: center;
            }
            p {
                font-size: 12px;
                padding: 1em 0.3rem ;
            }
        }
    }
}